<div class="overlay">
  <div class="overlay__table">
    <div class="overlay__cell">
      <div data-popup-name="auth" class="overlay__popup overlay__popup--login">
        <div class="popup__form">
          <div class="form__social">
            <div class="social__item social__item--vk"><a href="#" class="item__btn">Войти с помощью<i class="fa fa-vk"></i></a></div>
          </div>
          <div class="form__line"><span class="line__span">или</span></div>
          <div class="form__input">
            <input name="email" placeholder="E-mail" class="input__item">
          </div>
          <div class="form__input">
            <input name="password" type="password" placeholder="Пароль" class="input__item">
          </div>
          <div class="form__submit">
            <button type="submit" class="us_btn submit__item">Войти</button>
          </div>
          <div class="form__disc">Вас нет на сайте? <a href="#" class="us_link">Зарегистрироваться</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay__table">
    <div class="overlay__cell">
      <div data-popup-name="auth" class="overlay__popup overlay__popup--registration">
        <div class="popup__form">
          <div class="form__social">
            <div class="social__item social__item--vk"><a href="#" class="item__btn">Зарегистрироваться с помощью<i class="fa fa-vk"></i></a></div>
          </div>
          <div class="form__line"><span class="line__span">или</span></div>
          <div class="form__input">
            <input name="email" placeholder="E-mail" class="input__item">
          </div>
          <div class="form__input">
            <input name="password" type="password" placeholder="Пароль" class="input__item">
          </div>
          <div class="form__input">
            <input name="password_verify" type="password" placeholder="Пароль еще раз" class="input__item">
          </div>
          <div class="form__submit">
            <button type="submit" class="us_btn submit__item">Зарегистрироваться</button>
          </div>
          <div class="form__disc">Вы уже есть на сайте? <a href="#" class="us_link">Зарегистрироваться</a></div>
        </div>
      </div>
    </div>
  </div>
</div>