    <div class="index_search">
      <div class="index_search__background">
        <video src="video/main-2.mp4" autoplay="" loop="" class="background__video"></video>
      </div>
      <div class="index_search__content">
        <div class="content__promo">
          <div class="promo__inner">
            <div class="wrapper">
              <div class="promo__title">
                <h1>Арендуйте яхту своей мечты</h1>
              </div>
              <div class="promo__desc">Здесь охуительное описание, типо как все легко и круто</div>
              <div class="promo__btn"><a href="#" class="promo__btn__item">Как это работает</a></div>
            </div>
          </div>
        </div>
        <div class="content__search">
          <div class="wrapper">
            <form class="search__form">
              <input placeholder="Где вы будете?" class="form__input">
              <button type="submit" class="form__btn">Начать поиск</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="index_content">
      <div class="wrapper">
        <h1>Hello, world!</h1>
      </div>
    </div>