{% load customTags %}
<!DOCTYPE html>
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/styles/vendor.css">
    <link rel="stylesheet" href="/static/styles/main.css">
  </head>
  <body>
    <header class="header {{header_class}}">
      <div class="wrapper">
        <div class="header__left"><a href="/" class="header__logo"></a><a href="/boats/" class="header__link">Найти лодку</a><a href="#" class="header__add_boat">Добавить лодку</a></div>
        {% if not request.user.is_authenticated %}
          <div class="header__right"><a href="#" data-open-popup="signup" class="header__link">Зарегистрироваться</a><a href="#" data-open-popup="signin" class="header__link">Войти</a></div>
        {% else %}
          <div class="header__right">
            <div class="header__user">
              <div class="user__link js-user-link"><span style="background-image: url(/static/images/tmp/profile_image.jpg);" class="user__image"></span><span class="user__name">{{request.user.email}}</span></div>
              <div class="user__drop">
                <ul class="drop__list js-user-drop">
                  <li class="list__item"><a href="/cabinet/" class="item__link {% active '/cabinet' %}">Кабинет</a></li>
                  <li class="list__item"><a href="#" class="item__link {% active '/orders' %}">Мои заказы</a></li>
                  {% get_user_boats as user_boats %}
                  {% if user_boats %}
                    <li class="list__item"><a href="#" class="item__link {% active '/myboats' %}">Мои лодки</a></li>
                  {% endif %}
                  <li class="list__item"><a href="#" class="item__link {% active '/messages' %}">Сообщения</a></li>
                  <li class="list__item"><a href="#" class="item__link {% active '/profile' %}">Профиль</a></li>
                  <li class="list__item"><a href="#" class="item__link {% active '/settings' %}">Настройки</a></li>
                  <li class="list__item"><a href="/signout/" class="item__link">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </header>
{% block content %}{% endblock content %}
    <footer class="footer">
      <div class="wrapper">
        <div class="footer__inner">
          <div class="footer__block">
            <div class="block__title">Компания</div>
            <ul class="footer__links">
              <li class="links__item"><a href="#" class="item__link">О Ptpgo</a></li>
              <li class="links__item"><a href="#" class="item__link">Блог</a></li>
              <li class="links__item"><a href="#" class="item__link">Помощь</a></li>
              <li class="links__item"><a href="#" class="item__link">Правила</a></li>
              <li class="links__item"><a href="#" class="item__link">Условия и конфиденциальность</a></li>
            </ul>
          </div>
          <div class="footer__block">
            <div class="block__title">Сдача в аренду</div>
            <ul class="footer__links">
              <li class="links__item"><a href="#" class="item__link">Почему стоит сдавать в аренду <nobr>яхту/лодку</nobr></a></li>
              <li class="links__item"><a href="#" class="item__link">Как сдавать</a></li>
            </ul>
          </div>
          <div class="footer__block footer__block--company">
            <div class="footer__social"><a href="https://vk.com/ptpgo" target="_blank" class="social__item"><i class="icon icon-vk"></i></a><a href="https://www.facebook.com/ptpgo" target="_blank" class="social__item"><i class="icon icon-facebook"></i></a><a href="#" class="social__item"><i class="icon icon-youtube-play"></i></a></div>
            <div class="footer__copy">&copy; PTPGO</div>
          </div>
        </div>
      </div>
    </footer>
    <div class="overlay js-overlay">
      <div class="overlay__table">
        <div class="overlay__cell">
          <div data-popup-name="signin" class="overlay__popup overlay__popup--login">
            <form id="form-signin" action="/signin/" method="POST" class="popup__form">{% csrf_token %}
              <div class="form__social">
                <div class="social__item social__item--vk"><a href="#" class="item__btn">Войти с помощью<i class="icon icon-vk"></i></a></div>
              </div>
              <div class="form__line"><span class="line__span">или</span></div>
              <div class="form__input">
                <input name="email" placeholder="E-mail" class="input__item">
              </div>
              <div class="form__input">
                <input name="password" type="password" placeholder="Пароль" class="input__item">
              </div>
              <div class="form__submit">
                <button type="submit" class="us_btn submit__item">Войти</button>
              </div>
              <div class="form__response js-response-text"></div>
              <div class="form__disc">Вас нет на сайте? <a href="#" data-open-popup="signup" class="us_link">Зарегистрироваться</a></div>
            </form>
          </div>
          <div data-popup-name="signup" class="overlay__popup overlay__popup--login">
            <form id="form-signup" action="/signup/" method="POST" class="popup__form">{% csrf_token %}
              <div class="form__social">
                <div class="social__item social__item--vk"><a href="#" class="item__btn">Зарегистрироваться с помощью<i class="icon icon-vk"></i></a></div>
              </div>
              <div class="form__line"><span class="line__span">или</span></div>
              <div class="form__input">
                <input name="email" placeholder="E-mail" class="input__item">
              </div>
              <div class="form__input">
                <input name="password" id="reg-password" type="password" placeholder="Пароль" class="input__item">
              </div>
              <div class="form__input">
                <input name="password_verify" type="password" placeholder="Пароль еще раз" class="input__item">
              </div>
              <div class="form__submit">
                <button type="submit" class="us_btn submit__item">Зарегистрироваться</button>
              </div>
               <div class="form__response js-response-text"></div>
              <div class="form__disc">Вы уже есть на сайте? <a href="#" data-open-popup="signin" class="us_link">Войти</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% block js-footer-before-scripts%}{% endblock js-footer-before-scripts %}
    <script src="/static/scripts/vendor.js"></script>
    <script src="/static/scripts/app.js"></script>
{% block js-footer %}{% endblock js-footer %}
  </body>
</html>
