<!DOCTYPE html>
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/styles/vendor.css">
    <link rel="stylesheet" href="/static/styles/main.css">
  </head>
  <body>
    <header class="header {{header_class}}">
      <div class="wrapper">
        <div class="header__left"><a href="/" class="header__logo"></a><a href="/boats/" class="header__link">Найти лодку</a><a href="#" class="header__add_boat">Добавить лодку</a></div>
        {% if not request.user.is_authenticated %}
          <div class="header__right"><a href="#" data-open-popup="signup" class="header__link">Зарегистрироваться</a><a href="#" data-open-popup="signin" class="header__link">Войти</a></div>
        {% else %}
          <div class="header__right">
            <div class="header__user">
              <div class="user__link js-user-link"><span style="background-image: url(/static/images/tmp/profile_image.jpg);" class="user__image"></span><span class="user__name">{{request.user.email}}</span></div>
              <div class="user__drop">
                <ul class="drop__list js-user-drop">
                  <li class="list__item"><a href="#" class="item__link">Кабинет</a></li>
                  <li class="list__item"><a href="#" class="item__link">Мои заказы</a></li>
                  <li class="list__item"><a href="#" class="item__link">Мои лодки</a></li>
                  <li class="list__item"><a href="#" class="item__link">Сообщения</a></li>
                  <li class="list__item"><a href="#" class="item__link">Профиль</a></li>
                  <li class="list__item"><a href="#" class="item__link">Настройки</a></li>
                  <li class="list__item"><a href="#" class="item__link">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </header>