<!DOCTYPE html>
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Index page</title>
    <link rel="stylesheet" href="/static/styles/vendor.css">
    <link rel="stylesheet" href="/static/styles/main.css">
  </head>
  <body>
    <header class="header header--index">
      <div class="wrapper">
        <div class="header__left"><a href="/" class="header__logo"></a><a href="boats.html" class="header__link">Найти лодку</a><a href="#" class="header__add_boat">Добавить лодку</a></div>
        <div class="header__right"><a href="#" data-open-popup="signup" class="header__link">Зарегистрироваться</a><a href="#" data-open-popup="signin" class="header__link">Войти</a></div>
      </div>
    </header>